@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Swiper Custom Pagination Styling */
.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: #03373D !important;
  opacity: 0.5;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #CAEB66 !important;
  opacity: 1;
  width: 24px !important;
  border-radius: 8px !important;
}

.brand-swiper-linear .swiper-wrapper {
  transition-timing-function: linear !important;
}